<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <h1>this is the main team page</h1>
      <nav>
        <a href="/team/justin">JUSTIN</a>
        <a href="/team/joe">JOE</a>
        <a href="/team/trevor">TREVOR</a>
        <a href="/team/john">JOHN</a>
      </nav>
    </header>

<h1>This is static content. Template below accepts dynamic content</h1>
<hr>
    {{{body}}} 
<hr>
<h3>Back to static content</h3>
  <script src="/js/main.js"></script>
  </body>
</html>
